@model AspNetCoreMvc2.Introduction.EmployeeListViewModel

@{
    Layout = null;
    var value = 10;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazorDemo</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.CityId</td>
                </tr>
            }
        </tbody>
    </table>
    <p>@DateTime.Now</p>
    <p>3 days ago was @(DateTime.Now - TimeSpan.FromDays(3))</p>
    @{
        var number = 10;
    }
    <p>@number</p>

    @* Conditional operations**@
    @if (number < 10)
    {
        <p>Your number is less than 10 !</p>
    }
    else if (number == 10)
    {
        <p>Your number is @number</p>
    }
    else
    {
        <p>Your number is greater than 10</p>
    }

    @* Loops *@
    FOR
    @for (int i = 0; i < Model.Employees.Count; i++)
    {
        <br />@Model.Employees[i].FirstName
    }

    <br />

    WHILE
    @{ var counter = 0; }
    @while (counter < Model.Employees.Count)
    {
        <br />@Model.Employees[counter].LastName
        counter++;
    }

    <br />

    DO-WHILE
    @{ var counter2 = 0; }
    @do
    {
        <br />@Model.Employees[counter2].CityId
        counter2++;
    } while (counter2 < Model.Employees.Count);

    @using (Html.BeginForm())
    {
        <input type="text" id="" name="" />
        <button type="submit"></button>
    }
</body>
</html>
